body{
    background-color: coral;
}

.container{
    background-color: blanchedalmond;
    width: 55vw;
    margin: auto;
    padding: 50px;
    border: 1px solid wheat;
    border-radius: 15px;
}

#birthYear{
    font-size: 22px;
}

#birthlabel{
    font-size: 22px;
}

#btnHesapla{
    font-size: 22px;
}

#result{
    text-align: center;
    font-size: 32px;
    color: blueviolet;
}